.section1 {
    display: flex; // Assure l'alignement horizontal des deux sections
    height: 110vh;
    min-height: 120vh;
    width: 100%;

    .section1-left {
        flex: 1; // Prend tout l'espace disponible à gauche
        background: $white1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .container-left {
            text-align: center;
            border: 2px dotted $or;
            padding: 20px;
            margin: 20px;

            h3 {
                font-size: 1.7rem;
                line-height: 22px;
                color: $or;
            }

            h2 {
                font-size: 1.8rem;
            }

            #icplate {
                margin: 40px auto;
                width: 40px;
            }

            p {
                margin-bottom: 20px;
                font-family: $font3;
                line-height: 22px;
                letter-spacing: 2px;
            }
        }
    }

    .section1-right {
        flex: 1; // Prend tout l'espace disponible à droite
        background: url(../img/store-01.jpg) no-repeat center/cover;
        z-index: 1;
    }
}
